.home-wrapper {
    margin: ($base-size * 3.5) auto;
    padding: ($base-size * 6) ($base-size * 4);
    background: $color-light;
    border-bottom: 1px solid lighten($color-dark, 70%);
    border-radius: $radius;
}

//OPTIONS
.options {
    display: flex;
    flex-wrap: wrap;
    color: $color-light;
    font-family: $font-header;

    a {
        text-decoration: none;
        color: $color-light;
    }

    p {
        padding-bottom: 1px;
        color: transparent;
        transform: translateY(50px);
    }
   
}
.order-online, .book-online, .opening-hours {
    margin: 5px;
    border-radius: $radius;
    text-align: center;
    padding-bottom: 0px;
    padding-top: 30px;
    
}
.order-online{
    flex: 35%;
    background-image: url("../../images/assets/pizza-1.jpg");
    background-position: center;

    &:hover {
        h2 {
            transform: translateY(-10px);
            transition: $transition;
        }

        p {
            transform: translateY(-10px);
            transition: .6s;
            color: $color-light;
        }
    }
}

.book-online{
    flex: 35%;
    background-image: url("../../images/assets/pizza-2.jpg");
    background-position: center;
}

.opening-hours{
    flex: 100%;
    background: $color-main;
    padding: 15px 0;
}

// carousel
.carousel-cell:before {
    display: block;
    text-align: center;
    content: counter(gallery-cell);
    line-height: 200px;
    font-size: 80px;
    color: white;
  }


//gallery
.gallery{
    display: flex;
    flex-wrap: wrap;
  
    .box {
        position: relative;
        flex: 33%;
        padding: 4px;
        width: 150px;
        height: 200px; // dlaczego przy 150px nie jest kwadratem obrazek
        

        img {
            margin-top: 8px;
            height: 100%;
            width: 100%;
            border-radius: $radius;
            object-fit: cover;         
        }

        .icons {
            position: absolute;
            left: 50%;
            top: 50%;
            transform: translate(-50%, -50%);
            color: transparent;

            i {
                font-size: 30px;
                cursor: pointer;
                padding: 5px;
            }
        }

        &:hover {

            .icons {
                color: $color-light;
                transition: .6s;
            }
        }

        .fa-heart:hover {
            color: $color-danger;
            transition: .6s;
        }

        .fa-share-alt:hover {
            color: $color-success;
            transition: .6s;
        }
    }
}

